@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply hover:text-debred
}
body {
  margin: 0;
  font-family: monospace;
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: all 0.5s ease;
}
